
body {
    background: #222;
    color: #eee;
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    /* place-content: center; */
    font-family: sans-serif;
    font-size: 1em;
}

h1,h2,h3,h4 {
    font-family: monospace;
    text-align: center;
}
h1 { font-size: 3rem; }
textarea, input {
    padding: 10px 20px;
    font-size: 1.2em;
    display: block;
    margin: 10px 0;
}
button {
    margin: 10px 0;
    padding: 5px 15px;
}

.form-area {
    place-content: center;
    display: flex;
}

.todos {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    grid-gap: 1rem;
}
.todos .todo { 
    padding: 10px; 
    margin: 20px 0;
    background: #111;
    display: block;
    min-height: 90px;
}
.todos .todo > span {
    display: block;
    margin: 5px 0;
}
.todos span.date { font-size: 12px; color: #666; margin-bottom: 8px; display: block; }