<!DOCTYPE html>
<html>
    <head>
        <title>Test NodeJs Web App</title>
        <link rel="stylesheet" href="assets/app.css">
        
    </head>

    <body>
        <div id="app">
            <h1>Welcome to Todo List App</h1>
            <!-- <p>What would you like to do?</p> -->
            <div id="calendar"></div>
            
            <div class='form-area'>
                <form enctype="multipart/form-data" @submit.prevent='handleSubmit'>
                    <textarea placeholder='What would you like to do?' name="title" v-model='todo.title' cols="30" required></textarea>
                    <input type="date" name='date' v-model='todo.date' required>
                    <input type="file" name="file" @change='getFile'>
                    <button type='submit'>Add Tudo</button>
                </form>
            </div>

            <div class="todos">
                <div class="todo" v-for='todo in todos' :key='todo.id'>
                    <span class="date">{{ new Date(todo.date).toDateString() }}</span>
                    <span class="title">{{ todo.title }}</span>
                    <span v-if='todo.file'>
                        <img v-if='isImage(todo.file)' :src="todo.file" width='90'>
                        <a v-else :href="getLink(todo.file)">See Attachment</a>
                    </span>
                </div>
            </div>
        </div>
    </body>

    <script src='assets/vue.js'></script>
    <script src='assets/jquery.js'></script>
    
    <script type='module' src='assets/app.js'></script>
</html>